#login-page {
  height: 100%;
}
#login-page .column {
  max-width: 500px;
}

.SEcontainer {
  margin-top: 4em;
}

#invite-page .active,
#invite-page .alreadyMember {
  font-weight: bold;
}

#group-page #chat-list {
  height: 55vh;
  max-width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#group-page #chat-list pre {
  margin-right: 1.5em;
  margin-top: 0;
}

#group-page #chat-list pre code {
  padding: 0.5em 1em;
}

#group-page #user-list {
  margin: 10px 0;
}

#group-page #user-list .user-item {
  display: inline-block;
  margin-right: 5px;
}

#group-page #user-list .user-item span {
  vertical-align: super;
  font-weight: bold;
}

#group-page #user-list .user-item img {
  margin: 0 auto;
  width: 2em;
  height: auto;
  border-radius: 0.25rem;
  vertical-align: sub;
}

#cal-container {
  width: 99%;
  height: 80%;
  position: absolute;
  margin-bottom: 20px;
}

#cal-title {
  display: inline-block;
  width: 250px;
  color: #0094ff;
  margin-bottom: 10px;
  margin-top: 20px;
  font-family: "Julius Sans One", sans-serif;
  font-size: 28px;
}
#cal-container caption a {
  font-size: 15px;
  text-decoration: none;
  font-family: Montserrat;
}
#cal-container caption a:visited,
caption a:visited {
  color: black;
}
#cal-container caption a:hover {
  color: red;
}
#cal-container table {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}
#cal-container thead {
  text-align: center;
  border: 3px solid black;
  background-color: #3e3d3d;
  color: #dfe1db;
  font-family: "Julius Sans One", sans-serif;
  letter-spacing: 3px;
  font-size: 16px;
}
#cal-container th:nth-child(1n + 6) {
  color: red;
}
#cal-container thead th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}
#cal-container tbody {
  height: 120%;
}
#cal-container td {
  margin-top: -50px;
  border: 1px solid black;
  font-family: "Julius Sans One", sans-serif;
  font-weight: bold;
  width: 6em;
  height: 5em;
}
#cal-container td:nth-child(1n + 6) {
  /* pretty cool trick huh? */
  color: red;
}
#cell-days-no-event,
#cell-days-with-event {
  display: inline-block;
  width: 100%;
  height: 100%;
}
#cell-days-no-event > div,
#cell-days-with-event > div {
  display: inline-block;
  padding-top: 3px;
  padding-left: 3px;
  width: 100%;
  height: 100%;
}
#cell-days-no-event:hover {
  cursor: pointer;
  background: rgb(93, 225, 250) url("../resources/icons/add.png") no-repeat
    center;

  background-size: 25px 25px;
  border-radius: 5px;
}
#events:hover {
  cursor: pointer;
  background: #ff605b url("../resources/icons/remove2.png") no-repeat center;

  background-size: 20px 20px;
  color: transparent;
}

#today {
  display: inline;
  padding: 2px;
  margin: -3px;
  background-color: #4c4c4c;
  color: white;
  border-radius: 50px;
}
#events {
  text-align: center;
  word-wrap: break-word;
  background: #2b542c;
  border-radius: 10px;
  color: #f5f2d6;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 2px;
  margin-left: -3px;
  margin-right: 3px;
  font-family: "Malgun Gothic";
  font-weight: normal;
  font-size: 13px;
}
#caption-today {
  position: absolute;
  margin-top: 29px;
  right: 7%;
  float: right;
}

#home-page .group {
  display: block;
  color: #333;
}

#home-page .group:hover {
  display: block;
  color: #777676;
}

#home-page .current-user {
  font-weight: bold;
}

#home-page .user.item:not(.active) {
  opacity: 0.4;
}

#container {
  width: 1200px;
  margin: 10px auto;
  padding: 0;
  border: 1px solid #bcbcbc;
}
#header {
  padding: 20px;
  margin-bottom: 0;
}
#roomMainBar {
  width: 900px;
  height: 670px;
  padding: 20px;
  margin-bottom: 20px;
  float: left;
  border: 1px solid #bcbcbc;
}
#roomBar {
  width: 860px;
  height: 120px;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #bcbcbc;
}
#currentUserbar {
  position: relative;
  width: 298px;
  height: 670px;
  padding: 20px;
  float: right;
  border: 1px solid #bcbcbc;
}
#currentUserbar #userbar {
  position: relative;
  width: 298px;
  height: 650px;
  padding: 20px;
  float: right;
  overflow-y: scroll;
  overflow-x: hidden;
}
#currentUserbar #bottombar {
  position: absolute;
  bottom: 0;
}
