<h1><%= title %></h1>
<p>current username: <%= user.username %></p>
<p>asdfasdf</p>
<a href="/logout">Logout</a>
<ul>
  <% for (let group of groups) { %>
    <li>
      <a href="/group/<%= group._id %>">
        <%= group.name %>
      </a>
    </li>
  <% } %>
</ul>

<script>

</script>
