<%- include partials/site-menu.ejs %>

<div id="invite-page">

  <div>
  <% for (let user of users) { %>
  <div class="field">
    <div class="ui checkbox">
    <% if (user.alreadyMember) { %>
      <input type="checkbox" checked disabled>
    <% } else { %>
      <input type="checkbox" value="<%= user._id%>" class="user">
    <% } %>
      <label><%= user.username %></label>
    </div>
  </div>
  <% } %>
  <div class="ui primary button" id="invite-button">
    초대하기
  </div>

  </div>


<div>

<script>
$(function () {
  var groupId = "<%= groupId %>";

  $('#invite-button').click(function() {
    var users = $('.user').filter(':checked').map(function() { return $(this).val(); });
    console.log(users);
    $.ajax({
      url: '/api/group/' + groupId + '/invite',
      type: 'POST',
      data: {
        users: users
      }
    }).then(({success}) => document.location.href = success)
  })
});
</script>
