<%- include partials/site-menu.ejs %>

<div id="invite-page">

  <form class="ui form">
    <% for (let user of users) { %>
    <div class="field">
      <div class="ui checkbox">
      <% if (user.alreadyMember) { %>
        <input type="checkbox" checked disabled>
      <% } else { %>
        <input type="checkbox" value="<%= user._id%>" class="user">
      <% } %>
        <label><%= user.username %></label>
      </div>
    </div>
    <% } %>

    <button type="submit" class="ui primary button" id="invite-button">
      초대하기
    </button>

    <button type="reset" class="ui red button" id="invite-button">
      리셋하기
    </button>

  </form>


<div>

<script>
$(function () {
  var groupId = "<%= groupId %>";

  $('form').submit(function() {
    var users = [];
    $('.user:checked').each(function() { users.push($(this).val()); });
    console.log(users);
    $.ajax({
      url: '/api/group/' + groupId + '/invite',
      type: 'POST',
      data: {
        users: users
      }
    }).done(({success}) => document.location.href = success)
      .fail(err => console.log(err))
    return false;
  })
});
</script>
